@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gowun+Batang:wght@400;700&display=swap');
* {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}